/* Write your CSS here */
.about-container {
  display: flex;
  flex-direction: column;
  min-height: 80vh;
}
.about-image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.about-desktop-image {
  width: 100%;
  max-width: 1110px;
}
@media screen and (min-width: 768px) {
  .about-desktop-image {
    display: none;
  }
}
.about-mobile-image {
  width: 80%;
  max-width: 468px;
}
@media screen and (min-width: 768px) {
  .about-mobile-image {
    display: none;
  }
}
